<div class="center-align">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @branch.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @branch.address %>
  </p>

  <p>
    <strong>Pastcode:</strong>
    <%= @branch.pastcode %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @branch.phone %>
  </p>

  <%= link_to 'Edit', edit_branch_path(@branch) %> |
  <%= link_to 'Back', branches_path %>

</div>